table.sudoku,
table.sudoku td {
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

table.sudoku td {
    width: 50px;
    height: 50px;
    border-width: 1px;
}

table.sudoku {
    border-width: 2px;
}

table.sudoku tr:nth-child(3n) td {
    border-bottom: 2px solid black;
}

table.sudoku tr td:nth-child(3n) {
    border-right: 2px solid black;
}

table.sudoku td.selected {
    background-color: lightpink;
}